* {
  box-sizing: block;
  margin: 0;
}

:root {
  --nav: #181818;
  --red: #c7453c;
  --green: #95b271;
  --gray: rgb(94, 94, 94);
  --lightGray: #c1c1c1;
  --whiteGray: #f6f6f6;
  /* --lightGrey: #D8D8D8; */
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
