/* photo slide */
.pSlide {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 999;
  display: flex;
  align-items: center;
}

.pSlideX {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.pSlideArrow {
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}

.pSlideWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideImg {
  width: 80%;
  height: 80vh;
}

/* property container start */
.property {
  display: flex;
  justify-content: center;
  padding: 120px 100px 70px 100px;
  flex-direction: row;
  gap: 27px;
}

.pContainerR {
  display: flex;
  flex-direction: column;
}

/* Grid1 */
.pTitle {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.backLink {
  color: var(--lightGray);
  display: flex;
  text-decoration: none;
  margin: 17px 0;
  margin-top: 16px;
  width: 140px;
}

.pRotate {
  transform: rotate(-45deg);
  height: 20px;
  display: flex;
}

.backLink p {
  font-size: 16px;
  margin-left: 10px;
}

.pAddress {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 10px 0;
}

/* Grid2 */
.pPhotos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 159px;
  width: 1100px;
}

.pImages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 7px;
}

.pImgWrapper {
  width: 33%;
}

.pImg {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Grid3 */
.pDec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0;
}

.pInfo {
  box-sizing: border-box;
  font-size: 16px;
  width: 762px;
  border: none;
}

.pAgent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  width: 307px;
  height: 101px;
  border: 1px solid #000000;
  color: var(--lightGray);
  padding: 20px;
}

.pAgentInfo {
  font-size: 14px;
  display: flex;
  height: 100%;
  flex-direction: column;
  line-height: 30px;
}

/* Grid4 */
.pBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.pLayout {
  box-sizing: border-box;
  border: 1px solid #000000;
  width: 774px;
  height: 490px;
}

.pIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 44px;
}

.pLayout p {
  font-size: 14;
  font-weight: 400;
  margin-left: -70px;
}

.pLayout hr {
  width: 730px;
  margin: auto;
  margin-bottom: 22px;
}

.pLayoutMap {
  width: auto;
  height: 357px;
  background-size: 80%;
  background-image: url(../images/layout.png);
  /* background-color: rgba(0, 0, 0, 0.45); */
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: contain;
}

.pGraph {
  box-sizing: border-box;
  width: 307px;
  height: 490px;
  left: 876px;
  top: 603px;
  border: 1px solid #000000;
}

/* Grid5 */
.pPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.pPaying {
  font-size: 32px;
  font-weight: 400;
}

.pPayingTerm {
  font-size: 24px;
  font-weight: 400;
  color: var(--lightGray);
  margin: 0 20px;
}

.pRentbtn {
  font-size: 16px;
  padding: 10px 24px;
  width: 182px;
  height: 41px;
  border: 1px solid black;
  background-color: white;
  margin-left: 17px;
}

.pBookbtn {
  font-size: 16px;
  padding: 10px 24px;
  width: 182px;
  height: 41px;
  border: none;
  background-color: var(--red);
  color: white;
  margin-left: 17px;
}

.pGraphBar {
  position: absolute;
  padding: 20px;
}

.pGraphBar1 {
  box-sizing: border-box;
  width: 38px;
  height: 70px;
  background-color: var(--red);
}

.pGraphBar2 {
  box-sizing: border-box;
  width: 38px;
  height: 270px;
  background-color: black;
}

.pArrows {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  padding-top: 50px;
  padding-left: 60px;
  z-index: 1;
}

.pArrow {
  width: 82px;
}

.pBudget20 {
  padding-left: 45px;
}

.pBudget80 {
  padding-top: 100px;
  padding-left: 45px;
}

.pSaving {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  margin-top: 100px;
}

.pSaving p {
  line-height: 2;
}

/* Grid6 */
.pMap {
  display: flex;
  align-items: flex-end;
  width: 444px;
  height: 100%;
  /* border: 1px solid #000000; */
}

.pMapImg {
  position: absolute;
  width: 444px;
  height: 875px;
  background: url(../images/map.png);
  /* border: 1px solid black; */
}

.pMapContent {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  z-index: 1;
}

.pMapIcondrop {
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -25px;
}

.pMapPark{
  margin-bottom: 60px;
  margin-left: 150px
}

.pMapCafe{
  margin-bottom: 95px;
  margin-left: 140px
}

.pMapLocation {
  color: var(--red);
  margin-bottom: 20px;
}

.pMapGym{
  margin: 40px 280px 15px 0;
}

.pMapPetrol {
margin-bottom: 30px;
margin-left: 140px;
}

.pMapMarket{
  margin-bottom: 30px;
  margin-left: 50px;
}

.pMapNear {
  border: 1px solid black;
  width: 370px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  padding: 20px;
}

.pMapNear h3 {
  font-size: 16px;
}

.pMapIcon {
  width: 34px;
  padding-right: 10px;
}

.pMapInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.pMapPlace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
