.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.navContainer {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 20px 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: "auto";
  height: 60px;
}

.navItems {
  font-weight: 400;
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navItems li {
  cursor: pointer;
}

.navDropdown {
  width: 135px;
  text-align: center;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 5px;
}

.navLan {
  list-style-type: none;
  position: absolute;
  right: 0;
  width: 135px;
  bottom: -286px;
}

.navLan li {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 10px 15px;
  transition: all 0.8s ease;
  position: relative;
  width: 100%;
}

.navLan li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.55);
}

/* .navBtn {
  margin-left: 30px;
  border: none;
  border-radius: 5px;
  padding: 7px 16px;
  cursor: pointer;
  color: var(--nav);
  font-weight: 700;
}

.navBtn:hover {
  background-color: var(--headerText);
  color: white;
  font-weight: 700;
} */
